//barra di navigazione
.hamburger{
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 1000;
    right: 25px;
    top: 25px;
}

.menu-bar{
    width: 100%;
    position: absolute;
    left: 0px;
    pointer-events: all;
    display: flex;
    background-color:white;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0px 75px 0 25px;
    z-index: 10;

    .logo{
        height:auto;
        display: block;
        width: 100%;
        img, .logo-box{
            width: auto;
            height: auto;
            max-width: 160px;
            display: block;
        }
    }
    .links{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding: 0px 30px;
        .link{
            // border: 5px solid $orange;
            cursor: pointer;
            // background-color: $orange;
            color: $blue;
            padding: 5px;
            // font-weight: bold;
            font-size: 1.2vw;
            line-height: 1.3vw;
            letter-spacing: .1vw;
            min-width: 150px;
            text-align: center;
            text-decoration: none !important;
            transition: all .3s ease-in-out;
            &:hover{
                color: $white;
                background-color: transparent !important;
            }
            // TODO: hover
            &:not(:first-child){
                margin-left:25px;
            }
        }
    }
}




.menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    z-index: 100;
    pointer-events: none;
    &__langs{
        position: absolute;
        top: 39px;
        right: 90px;
        z-index: 11;
        display: flex;
        flex-direction: row;
        text-align: right;
        .menu__lang{
            font-size: 20px;
            color: $white;
            line-height: 23px;
            text-transform: lowercase;
            font-weight: bold;
            text-decoration: none;
            transition: all .3s ease-in-out;
            &.active, &:hover{
                color: $orange;
            }
        }

    }
    &__section-2{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        margin-bottom: 18vh;
    }
    &__contacts{
        text-align: right;
        display: flex;
        flex-direction: column;
        a{
            margin-top: 5px;
            color: $white !important;
            text-decoration: none !important;
        }
    }
    &__socials{
        pointer-events: all;
        bottom: 6rem;
        right: 6rem;
        z-index: 10;
        text-align: right;
        margin-bottom: 10px;
  a{
  opacity: 1;
  transition: opacity .5s easeInOut;

  display: inline-block;
  svg{
      height: 20px;
      width: 20px;
      margin-top: 10px;
      margin-bottom: 10px;

  }
  &:hover{
    opacity: 1 !important;
    transition: opacity .5s easeInOut;

  }
}
    }
    &__content{
        pointer-events: none;
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        .sphere{
            position: absolute;
            right: 50px;
            top: 50px;
            width: 0px;
            height: 0px;
            border-radius: 100%;
            transform: translate(50%, -50%);
            background-color:$black;
        }
        // background-color:green;
        &__rect{
            width: 100%;
            height: 20vh;
            background-color: $light-gray;
            // border: 1px solid yellow;
            transform: translateX(-100%);
        }
        &__open{
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color:transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15vw;
            hr{
                border-top: 2px solid $orange !important;
                width: 50px;
                margin-left: 0;
                position: relative;
                left: -20px;
            }
            .title{
                font-size: 20px;
                font-weight: lighter;
                color: #6a6b71;
                opacity: .3;
                position: relative;
                left: -20px;
                top: -20px;
            }
            .links{

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .link{
                    flex: 1;
                    cursor: pointer;
                    color: $white;
                    font-weight: 600;
                    font-size: 3.5vw;
                    text-decoration: none !important;
                    opacity: 1;
                    line-height: 4vw;
                    // margin-top: 25px;
                    // margin-bottom: 25px;
                    // transition: transform .5s, opacity .5s;
                    position: relative;
                    display: inline-block;
                    text-decoration: none !important;
                    transition: all .3s;
                    transition-delay: 0s;
                    &:after{
                        content: '';
                        display: inline-block;
                        width: 0px;
                        height: 2px;
                        position: absolute;
                        top: 50%;
                        transition: all .3s;
                        transition-delay: 0s;
                        background-color: $white;
                        left: 0;
                        padding-left: 0px;
                    }
                    &:hover, &.active{
                        // transform: scale(1.15);
                        color: $orange;
                        //transition-delay: 0.25s;
                        padding-left: calc(2vw + 5px);
                        &:after{
                            width: 2.2vw;
                            transition-delay: .0s;
                        }
                    }
                    // &.active{
                    //   opacity: 1;
                    // }
                    // span{
                    //   background-color: $black;
                    //   position: absolute;
                    //   width: 120px;
                    //   height: 3px;
                    //   bottom: 0px;
                    //   left: 0px;
                    //   opacity: 0;
                    //   transition: transform .5s, opacity .5s;
                    // }
                    // &:hover{
                    //   opacity: 1;
                    //   transform:translate(10px);
                    //   transition: transform .5s, opacity .5s;
                    //   span{
                    //     transform:translate(-60px);
                    //     opacity: 1;
                    //     transition: transform .5s, opacity .5s;
                    //   }
                    // }
                }
                .sublinks-content{
                  display: flex;
                  flex-direction: column;
                  .sublink{
                    display: inline-block;
                    text-transform: uppercase;
                    text-decoration: none !important;
                    color: $black;
                    font-size: 16px;
                    letter-spacing: 1px;
                    line-height: 30px;
                    font-weight: 400;
                    opacity: 0.6;
                    margin-bottom: 5px;
                    position: relative;
                    transition: transform .5s, opacity .5s;
                    &.all{
                      font-size: 20px;
                      font-weight: 600;
                      letter-spacing: 3px;
                      margin-top: 7px;
                      color: white;
                      opacity: 1;
                    }
                    &.active{
                      opacity: 1;
                    }
                    span{
                      background-color: $black;
                      position: absolute;
                      width: 100px;
                      height: 1.5px;
                      bottom: 0px;
                      left: 0px;
                      opacity: 0;
                      transition: transform .5s, opacity .5s;
                    }
                    &:hover{
                      opacity: 1;
                      transform:translate(10px);
                      transition: transform .5s, opacity .5s;
                      span{
                        transform:translate(-50px);
                        opacity: 1;
                        transition: transform .5s, opacity .5s;
                      }
                    }
                  }
                }
            }
        }
    }
//     &__langs{
//     display: flex;
//     flex-direction: column;
//     margin-top: 5vh;
//     .menu__lang{
//         text-transform: uppercase;
//         font-size: 1vw;
//         letter-spacing: 1.5px;
//         color: #E8E8E8;
//         line-height: 1.3vw;
//         font-weight: 700;
//         text-decoration: none !important;
//         text-align: center;
//         &:hover{
//             color: $black;
//         }
//         &.active{
//             color: $black;
//         }
//     }
// }
}

.logo-box{
    width: auto;
    height: auto;
    max-width: 160px;
    display: block;
    z-index: 1000;
    left: 25px;
    top: 25px;
    position: absolute;
}


@include media-breakpoint-down(lg) {


.menu__side{
    height: 60px;
    padding: 0px 0px 0px 20px;
}
  .menu__socials {
      position: absolute;
      pointer-events: all;
      display: flex;
      bottom: 28vh;
      right: 8vw;
      z-index: 10;
      a img {
          width: 25px;
          height: 25px;
          margin-left: 15px;
          margin-right: 0px;
      }
  }

  .menu__content__open .links .sublinks-content .sublink{
    font-size: 10px;
    line-height: 25px;
  }
  .menu__content__open .links{
    margin-left: 0px;
    .link {
     // font-size: 20px;
     // line-height: 30px;
     // margin-top: 20px;
     // margin-bottom: 20px;
   }
  }
  .menu__content__open .links .link span {
    height: 2px;
  }
  .menu__content__open .links .sublinks-content .sublink.all {

        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2px;

    }
}
